<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>YelpCamp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059" />
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
  <script type="text/javascript" src="/javascripts/maps.js"></script>
  <script type="text/javascript" src="/javascripts/comments.js"></script>
  <script type="text/javascript" src="/javascripts/profile.js"></script>
  <script type="text/javascript" src="/javascripts/notification.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top" style="padding: 0 10%;">
    <a class="navbar-brand" href="/">PostIt</a>
    <a class="navbar-brand <%= typeof page !== 'undefined' && page === 'home' ? 'activePage' : '' %>" href="/campgrounds">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline" action="/campgrounds" method="GET">
        <div class="form-group mx-sm-3 ">
          <label for="searchQuery" class="sr-only">Search</label>
          <input type="text" class="form-control" name="searchQuery" placeholder="Search by name or author">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <ul class="navbar-nav ml-auto ">
        <% if(!currentUser){  %>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'signin' ? 'activePage' : '' %> <%= typeof page !== 'undefined' && page === 'signin' ? 'active' : '' %>">
            <a class="nav-link " href="/signin">Signin </a>
          </li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'signup' ? 'activePage' : '' %> <%= typeof page !== 'undefined' && page === 'signup' ? 'active' : '' %>">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <% } else {  %>
            <li class="nav-item ">
              <a class="nav-link <%= typeof page !== 'undefined' && page === 'notification' ? 'activePage' : '' %> <%= typeof page !== 'undefined' && page === 'notification' ? 'active' : '' %>">
                <i class="fas fa-bell"></i></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link <%= typeof page !== 'undefined' && page === 'profile' ? 'activePage' : '' %> <%= typeof page !== 'undefined' && page === 'profile' ? 'active' : '' %>"
                href="/profile/<%= currentUser._id %>">Signed in: <span id="username"><%= currentUser.username %></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/signout">signout</a>
            </li>
            <%  }      %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <% if(message && message.length > 0){ %>
      <div class="alert alert-success" role="alert">
        <%= message %>
      </div>
      <% } %>
        <% if(error && error.length > 0){ %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
          <% } %>
  </div>