<% include ../partials/header %>

<div class="container">
         <header class="jumbotron ">

                <div class="container">
                    <h1>Welcome to Camping Grounds and Trekking spots</h1>
                    <p>View the camping places and trekking spots people have have shared from all over the world </p>
                    <p> <a class= "btn btn-primary btn-lg" href="/campgrounds/new">CREATE NEW CAMPGROUND</a> </p>
                </div> 
         </header>
         
         <div class="row" >
               <% if(searchMade&&info.length===0){ %>
                    <h2>Sorry, No campground found with this name or this author name!!</h2>
               <%  }   %>     
                <% info.forEach(function(camp){ %>
                    <div class = "col-lg-4 col-sm-6 campgroundCardHolder ">
                        <div class="card" style="height:100%" >
                            <div class="img-thumbnail" style="display: flex; flex-wrap: wrap; "><img style="height: 100%; width: 100%;" src= "<%= camp.image %>" ></div>
                             <div class="card-title"><h3 style="text-align: center;"><%= camp.name %></h3></div>
                             <p><a href="/campgrounds/<%= camp._id %>" class="btn btn-block btn-primary">VIEW</a></p>
                        </div>
                    </div>
                <% }) %>
         </div>

         <div class="row" style="justify-content: space-around">
                <% if (pages && pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                    <li class="disabled page-item"><a class="page-link">First</a></li>
                    <% } else { %>
                    <li class=" page-item"><a class="page-link" href="/campgrounds">First</a></li>
                    <% } %>
             
                    <% if (current == 1) { %>
                    <li class="disabled page-item"><a class="page-link">«</a></li>
                    <% } else { %>
                    <li class=" page-item"><a class="page-link" href="/campgrounds?page=<%= Number(current) - 1 %>">«</a></li>
                    <% } %>
             
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                    <li class="disabled page-item"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                    <li class="active page-item"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                    <li class=" page-item"><a class="page-link" href="/campgrounds?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled page-item"><a class="page-link">...</a></li>
                    <% } %>
                    <% } %>
             
                    <% if (current == pages) { %>
                    <li class="disabled page-item"><a class="page-link">»</a></li>
                    <% } else { %>
                    <li class=" page-item"><a class="page-link" href="/campgrounds?page=<%= Number(current) + 1 %>">»</a></li>
                    <% } %>
             
                    <% if (current == pages) { %>
                    <li class="disabled page-item"><a class="page-link">Last</a></li>
                    <% } else { %>
                    <li class=" page-item"><a class="page-link" href="/campgrounds?page=<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
         
</div>

<% include ../partials/footer %>