<% include ../partials/header %>

    <div class="notificationsPage">
        <h1 style="text-align: center;">Your Notifications:
            <%= currentUser.username %>
        </h1>
        <hr>
        <% if(notifications){ %>
            <ul class="notificationsContainer">
                <% notifications.forEach(function(notif){  %>
                    <div>
                        <li>
                            <div><img src="<%= notif.notificationBy.profilephoto %>"></div>
                            <% if(notif.type==1){ %>
                                <a href="/campgrounds/<%= notif.post.id %>" class="readNotifications"><%= notif.notificationBy.username %> commented on your
                                        post
                                        <%= notif.post.name  %></a>
                                <% } %>
                                    <% if(notif.type==2){  %>
                                        <a href="/profile/<%= notif.notificationBy.id %>" class="readNotifications"><%= notif.notificationBy.username %> has
                                                requested to become admin.</a>
                                        <% }  %>
                                            <% if(notif.type==3){  %>
                                                <a href="/profile/<%= notif.notificationBy.id %>" class="readNotifications">You are now an admin.</a>
                                                <% }   %>
                                                    <span><%= moment(notif.createdAt).fromNow() %></span>
                        </li>
                    </div>

                    <% }) %>
            </ul>
            <% } %>
    </div>
    <% include ../partials/footer %>