<% include ../partials/header %>   
<div class="container" id="profilePage">
    <div class="row">
        <div class="col-md-12 coverPhoto" >
            <span class="profilePageUsername" ><%= profileOfUser.username %></span>
            <img src="<%= profileOfUser.coverphoto %>">
            <% if(profileOfUser._id.equals(currentUser._id)){ %>
            <button class="btn btn-primary changeCoverPhotoButton">Change Cover Photo</button>
            <% } %>
            <div class="profilePhoto">
                <img src="<%= profileOfUser.profilephoto %>">
                <% if(profileOfUser._id.equals(currentUser._id)){ %>
                <button class="btn btn-primary btn-sm changeProfilePhotoButton">Change Profile Photo</button>
                <% } %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 aboutMeCard" style="margin-bottom: 10px;">
            <h1>About Me</h1>
            <p><strong>First Name </strong><%= profileOfUser.firstname %></p>
            <p><strong>Last Name </strong><%= profileOfUser.lastname %></p>
            <p><strong>Email Id </strong><%= profileOfUser.email %></p>  
            <p><strong>Date Of Birth </strong><%= profileOfUser.dob %></p>
            <p><strong>Gender </strong><%= profileOfUser.gender %></p>
            <p><strong>About Me </strong><%= profileOfUser.about %></p>
            <% if(profileOfUser.isAdmin){ %>
            <p>He is an admin.</p>
            <% } %>
            <% if(profileOfUser._id.equals(currentUser._id)){ %>
            <a href="/profile/<%= profileOfUser._id %>/edit/" class="btn btn-outline-primary">Edit profile Info </a>
            <% if(!currentUser.isAdmin){ %>
            <a href="/admin/" class="btn btn-outline-info">Make me admin </a>
            <% } %>
            <% } %>
            <%  if(currentUser._id.equals("5b7fa7912136d731b3899c44") && !profileOfUser._id.equals("5b7fa7912136d731b3899c44")){  %>
               <% if(!profileOfUser.isAdmin){  %>
                <form style="display: inline;" method="POST" action="/admin/<%= profileOfUser.id %>">
                    <button class="btn btn-outline-success ">Make Him Admin</button>
                    </form>      
               <% } %>
               <% if(profileOfUser.isAdmin){  %>
                <form style="display: inline;" method="POST" action="/admin/<%= profileOfUser.id %>">
                    <button class="btn btn-outline-success ">remove as Admin</button>
                    </form>      
               <% } %>
            <% } %>
        </div>
        <div class="col-md-8 profilePosts">
            <h1>My Posts</h1>
            <% usercampgrounds.forEach(function(campground){  %>
                <div class="individualPost">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%= campground.image %>" alt="">
                        </div>
                        <div class="col-md-8">
                            <h2><%= campground.name %></h2>
                            <%= moment(campground.createdAt).fromNow() %>
                            <% if(campground.info) %>
                            <p><%= campground.info.substring(0,50) %>...</p>
                            <a class="btn btn-outline-primary" href="/campgrounds/<%= campground._id %>">Read more ></a>
                        </div>
                    </div>
                </div>  
                <hr>
            <% })%>
        </div>
    </div>
    
</div>


<% include ../partials/footer %>